body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.panel {
    text-align: center;
    margin: 10px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    font-size: calc(16px + 2vw);
    gap: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    touch-action: none;
    user-select: none;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #edeff1;
    color: #1a1a1b;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* The user is currently clicking or dragging through this cell */
.grid-item.selected {
    background-color: #e9ba3a;
    transform: scale(1.1);
}

/* This cell is empty (e.g. as in a waffle grid)*/
.grid-item.hidden {
    background-color: #ffffff;
    box-shadow: none;
    cursor: default;
}

/* There are no more scoring words using this letter */
.grid-item.completed {
    background-color: #cccccc;
    color: #aaaaaa;
}

.grid-item::before,
.grid-item::after {
    position: absolute;
    bottom: 2px;
    font-size: 15px;
}

.grid-item::before {
    content: attr(red-counter);
    left: 2px;
    color: #e03030;
}

.grid-item::after {
    content: attr(grey-counter);
    right: 2px;
    color: #666;
}

#trail {
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

h1 {
    color: #333;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}